.experience-item {
  background-color: var(--cream);
  border-radius: 8px;
  padding: 1.5rem;
  margin: 1rem;
  width: 100%;
  max-width: 800px;
  transition: transform 0.2s;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.experience-item:hover {
  transform: translateY(-5px);
}

.job-title {
  font-size: 1.6rem;
  margin: 0;
  color: var(--black); /* Change as needed */
}

.company-name {
  font-size: 1.3rem;
  color: #ecf0f1; /* Change as needed */
}

.duration {
  font-style: italic;
  color: var(--black); /* Change as needed */
}

.description {
  margin: 1rem 0;
}

.description-line {
  margin: 0.5rem 0;
  color: #0a0b0c;
  list-style-type: none;
}

.see-more {
  background-color: var(--black); /* Change as needed */
  color: var(--white); /* Change as needed */
  border: var(--white);
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.see-more:hover {
  background-color: var(--white) ; /* Darker shade for hover */
  color: var(--black); /* Change as needed */
}

.skills {
  margin-top: 0.9rem;
}

.skill {
  background-color: var(--cream); /* Change as needed */
  color: var(--white);
  padding: 0.9rem;
  border-radius: 4px;
  margin-right: 5px;
  font-size: 0.9rem;
}

a {
  color: var(--black); /* Change as needed */
  text-decoration: none;
}